<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/index.html}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>CATEGORY</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>

</head>
<body>

	<div layout:fragment="content">
		<div class="container">
			<div class="col-md-12">
				<h2>List Category</h2>
				<a href="/category/new" class="btn btn-primary">Thêm Sản Phẩm</a>
				<table class="table table-bordered" id="mydatatable">
					<thead>
						<tr>
							<th style="width: 150px">Id</th>
							<th style="max-width: 200px">Name</th>
							<th style="max-width: 200px">Classify</th>
							<th style="width: 150px">Action</th>
						</tr>
					</thead>
					<tbody>

						<tr th:each="item :${listCategory}">
							<td th:text="*{item.id}">ID</td>
							<td th:text="*{item.name}" style="max-width: 200px">Name</td>
							<td th:text="*{item.classify}" style="max-width: 200px">Classify</td>

							<td><a class="btn btn-primary btn-sm"
								th:href="@{'/category/edit/'+ ${item.id}}">Edit</a> | <a
								class="btn btn-danger btn-sm"
								th:href="@{'/category/delete/' +${item.id}}">Del</a></td>
						</tr>

					</tbody>

				</table>
				<hr>
				<div class="form-control" th:if="${totalPages > 1}">
					<div class="row col-sm-10">
						<div class="col-sm-2">Total Rows: [[${totalItems}]]</div>
						<div class="col-sm-2">Currently In:
							[[${currentPage}]]/[[${totalPages}]]</div>
						<div class="col-sm-4">
							<span th:each="i: ${#numbers.sequence(1,totalPages)}"> <a
								th:if="${currentPage != i }"
								th:href="@{'/category/page/' + ${i}}">[[${i}]]</a> <span
								th:unless="${currentPage != i}">[[${i}]]</span> &nbsp;&nbsp;
							</span>
						</div>
						<div class="col-sm-1">
							<a th:if="${currentPage < totalPages}"
								th:href="@{'/category/page/' + ${currentPage + 1}}">Next</a> <span
								th:unless="${currentPage < totalPages}">Next</span> &nbsp;&nbsp;
						</div>
						<div class="col-sm-1">
							<a th:if="${currentPage < totalPages}"
								th:href="@{'/category/page/' + ${totalPages}}">Last</a> <span
								th:unless="${currentPage<totalPages}">Last</span> &nbsp;&nbsp;
						</div>
					</div>
				</div>
			</div>
		</div>


	</div>

</body>
</html>

